[submodule "Yilia"]
	path = Yilia
	url = https://github.com/xieguigang/Yilia.git
[submodule "ts/Linq.ts"]
	path = ts/Linq.ts
	url = https://github.com/GCModeller-Cloud/data.ts.git
[submodule "ts/marked"]
	path = ts/marked
	url = https://github.com/BioDeep/marked.git
